In [168]:
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np

In [20]:
df = pd.read_csv('./survey.csv')

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241 entries, 18 to 1258
Data columns (total 18 columns):
Age                          1241 non-null int64
self_employed                1241 non-null object
family_history               1241 non-null object
no_employees                 1241 non-null object
remote_work                  1241 non-null object
tech_company                 1241 non-null object
benefits                     1241 non-null object
care_options                 1241 non-null object
wellness_program             1241 non-null object
seek_help                    1241 non-null object
leave                        1241 non-null object
mental_health_consequence    1241 non-null object
phys_health_consequence      1241 non-null object
coworkers                    1241 non-null object
supervisor                   1241 non-null object
mental_health_interview      1241 non-null object
phys_health_interview        1241 non-null object
mental_vs_physical           1241 non-null object
dtypes: int64(1), object(17)
memory usage: 184.2+ KB

In [109]:
# df.drop( ['obs_consequence'] , axis = 1 , inplace = True)

In [108]:
df.dropna(inplace = True)

In [110]:
df.head()

,Age,self_employed,family_history,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical
18,46,Yes,Yes,1-5,Yes,Yes,Yes,Not sure,Yes,Don't know,Very easy,No,No,Yes,Yes,No,Yes,Yes
19,36,Yes,Yes,6-25,Yes,Yes,No,No,Yes,No,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know
20,29,No,Yes,100-500,No,Yes,Yes,Yes,No,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No
21,31,Yes,No,1-5,Yes,Yes,No,No,No,No,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes
22,46,No,No,26-100,Yes,Yes,Yes,Yes,No,No,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No

In [193]:
unique_age = df['family_history'].unique()

In [194]:
print unique_age

['Yes' 'No']

In [195]:
def labelcolumn ( df , column) :
    unique_column = df[column].unique()
    return unique_column

In [196]:
# df_try = df.copy()

In [197]:
df_try.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241 entries, 18 to 1258
Data columns (total 17 columns):
Age                          1241 non-null int64
self_employed                1241 non-null int64
family_history               1241 non-null int64
remote_work                  1241 non-null int64
tech_company                 1241 non-null int64
benefits                     1241 non-null int64
care_options                 1241 non-null int64
wellness_program             1241 non-null int64
seek_help                    1241 non-null int64
leave                        1241 non-null int64
mental_health_consequence    1241 non-null int64
phys_health_consequence      1241 non-null int64
coworkers                    1241 non-null int64
supervisor                   1241 non-null int64
mental_health_interview      1241 non-null int64
phys_health_interview        1241 non-null int64
mental_vs_physical           1241 non-null int64
dtypes: int64(17)
memory usage: 174.5 KB

In [198]:
col = 'mental_vs_physical'

def givelabel (x) :
    t = labelcolumn(df,col)
    for ix in  range(len(t)) :
        if x == t[ix] :
            return ix
df_try[col]  = df_try[col].apply(givelabel)

In [199]:
df_try.drop(['no_employees'] , axis = 1,inplace = True)

In [200]:
df.head()

,Age,self_employed,family_history,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical
18,46,Yes,Yes,1-5,Yes,Yes,Yes,Not sure,Yes,Don't know,Very easy,No,No,Yes,Yes,No,Yes,Yes
19,36,Yes,Yes,6-25,Yes,Yes,No,No,Yes,No,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know
20,29,No,Yes,100-500,No,Yes,Yes,Yes,No,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No
21,31,Yes,No,1-5,Yes,Yes,No,No,No,No,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes
22,46,No,No,26-100,Yes,Yes,Yes,Yes,No,No,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No

In [201]:
df_try.head()

,Age,self_employed,family_history,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical
18,46,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None
19,36,0,0,0,0,1,1,0,1,1,0,0,1,1,1,1,None
20,29,1,0,1,0,0,2,1,1,2,1,0,1,1,0,2,None
21,31,0,1,0,0,1,1,1,1,2,0,0,1,1,0,1,None
22,46,1,1,0,0,0,2,1,1,3,1,0,1,0,0,1,None

In [202]:
df_np = np.asarray(df_try)

In [203]:
clf = KMeans(n_clusters = 8 ).fit(df_np)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [204]:
np.unique(clf.labels_ , return_counts = True)

(array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int32),
 array([283,   1,   1,   1, 428,  44, 478,   5]))

In [205]:
x_test = df_try.head(n=1)

In [206]:
x_test

,Age,self_employed,family_history,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical
18,46,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None